[Desktop Entry]
Type=Application
Categories=Network
Exec=/opt/apps/xzg/xweather
GenericName=XWeather
GenericName[zh_CN]=简单天气
Icon=/usr/share/icons/hicolor/scalable/apps/org.xzg.xweather.svg
Name=XWeather
Name[zh_CN]=简单天气
Keywords=Weather;Forecast
Keywords[zh_CN]=Weather;Forecast;天气;预报;
Comment=Show weather conditions and forecast
Comment[zh_CN]=显示天气状况和天气预报